$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
* {
    font-family: 'Open Sans', sans-serif;  
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    position: relative;
    text-align: center;
    height: 90px;

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 48px;
    }

    h4 {
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
    }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    margin-top: 60px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    height: 500px;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.portfolio-box {
    display: inline-block;
    height: 580px;
    width: 780px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-right: 10px;

}

#more {
    display: block;
}

.circles{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.ben {
    float: right;
}

.face {
    position: absolute;
    left: 0px;
    top: -10px;
    height: 125px;
    width: 125px;
}





#slides {
  display: none
}
#slides .slidesjs-navigation {
  margin-top:5px;
}
a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  background: url('/images/btns-next-prev.png');
  background-repeat: no-repeat;
  display:block;
  width:12px;
  height:18px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  margin-right:5px;
}
a.slidesjs-next {
  margin-right:10px;
  background-position: -12px 0;
}
a:hover.slidesjs-next {
  background-position: -12px -18px;
}
a.slidesjs-previous {
  background-position: 0 0;
}
a:hover.slidesjs-previous {
  background-position: 0 -18px;
}
a.slidesjs-play {
  width:15px;
  background-position: -25px 0;
}
a:hover.slidesjs-play {
  background-position: -25px -18px;
}
a.slidesjs-stop {
  width:18px;
  background-position: -41px 0;
}
a:hover.slidesjs-stop {
  background-position: -41px -18px;
}
.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}
.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url('images/pagination.png');
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}
.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}
#slides a:link,
#slides a:visited {
  color: #333
}
#slides a:hover,
#slides a:active {
  color: #9e2020
}
.navbar {
  overflow: hidden
    }